/* common sheard style */

body{
    font-family: 'Open Sans', sans-serif;
}
.main-color{

}   
.btn-primary{
   background: #FD6E0A;
   border-radius: 5px;
   border: none;
   font-size: 20px;
   padding: 18px 35px ;
   color: white;
   font-weight: 700;

}

/* nav related style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
.menu-logo{
    font-size: 45px;
    font-weight: 800;
}
.menu-r{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    color: 18px;
    
}

/* header related styles  */

header{
    background: #FFF8F3;

}

/* header banner releted styles */
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
}
.banner img{
    width: 500px;
    margin-bottom: -30px;
}